* {
	padding: 0px;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #E8E8E8;
	font-family: 'Open Sans', sans-serif;
}

/* .contenedor {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
} */

select {
	margin-bottom: 10px;
	margin-top: 2px;
	margin-left: 10px;
	margin-right: 10px;
	outline: 3;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid silver
}
.selectAltura {
	display:block;
	height:42px;
	width:230px;
}

.formulario {
	margin-bottom: 30px;
	width: 90%;
	margin-top: 50px;
	margin-left: 30px;
	margin-right: 50px;
	background: #fff;
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



.formulario input,
.formulario textarea {
	
	margin-right: 300px;
	margin-left: 10px;
	font-family: 'Open Sans', sans-serif;
	width: 70%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 15px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}


.formulario button[type="submit"] {

	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 70%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.titulo{
	
	margin-top: 40px;
	margin-left: 500px;
	
}

.titulo2{
	
	margin-top: 10px;
	text-align: left;
	
}



.formulario input[type="radio"] {
	width: auto;
}

.formulario input[type="checkbox"] {
	width: 4%;
	margin-left: 1px;
	display: flex;
	
}



.formulario {
	display: grid;
	grid-template-columns: 350px 350px;
	gap: 20px;
	column-gap: 1px;
}

.formulario__label {
	text-align: left;
	display: flex;
	font-weight: 500;
	padding: 10px;
	cursor: pointer;
}


.cuadro3 {
	display: grid;
	grid-template-columns: 2fr 2fr;
	gap: 10px;
	column-gap: 1px;
}

.cuadro1 {
display:block ;
align-items:left ;
justify-content: left;
}

.cuadro2 {
	display:block ;
	align-items:right ;
	justify-content:right;
	}

.cuadroResumen {
	margin-bottom: 30px;
	width: 60%;
	margin-top: 132px;
	background: #fff;
	border-radius: 5px;
	padding: 50px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	}

.labelResumen {
	font-size: 20px;
	color: #1f1f1f;
	line-height: 45px;
}

.labelValor {
	font-size: 25px;
	color: hsl(110, 79%, 54%);
	text-align: right;
	line-height: 75px;
}

